<h1>Editing Article</h1>

<div class="row">
  <%= render 'form', article: @article %>
</div>

<div>
  <div class="btn btn-info">
  <%= link_to 'Show', @article %>
  </div>
  <div class="btn btn-info">
    <%= link_to 'Back', articles_path %>
  </div>
</div>
