<h1>New Article</h1>

<div class="container">
  <%= render 'form', article: @article %>
</div>

<div class="col-md-12">
  <div class="btn btn-warning">
    <%= link_to 'Back', articles_path %>
  </div>
</div>
